@font-face {
  font-family: 'Geist';
  src: url('/fonts/GeistVF.ttf') format('ttf-variations'),
       url('/fonts/GeistVF.ttf') format('ttf');
  font-weight: 100 500 900;
  font-style: normal;
  font-display: swap;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Geist,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.6;
  color: #000000;
  background: #fafafa;
  font-family: Geist, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

a {
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

html.dark {
  background-color: #0d0950;
  color: #fff;
}

.dark .menu {
  background-color: #fff;
  color: #000;
}

.dark .nav-links a:hover,
.dark .nav-links a:focus {
  color: #0d0950;
}

.dark .nav-links a {
  color: #fff;
}

.dark a {
  color: #ffffff;
}